@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300&display=swap');
/* Een extern lettertype inladen van Google: https://fonts.google.com */

/* De body van het HTML document een standaard stijl geven
Als font-family gebruik je dus de naam van het ingeladen lettertype (font)
*/
body {
    background: #333333;
    font-family: 'Roboto Mono', sans-serif;
    color: #ffffff;
    font-size: 18px;
}

/* Alle div elementen die een direct "child" zijn van de div met id="dashboard" */
#dashboard > div {
    background-color: crimson;
}

/* Alle elementen met de class = "item" */
.item {
    background-color: crimson;
    padding: 5px 10px;
    color: #ffffff;
    border: 1px solid black;
    font-size: 20px;
    font-weight: bold;
}

