body {
    background-color: seashell;
}

#grafiek {
    background-color: #ffffff;
    border: 2px dotted #333333;
    width: 800px;
    height: 600px;
}


/* 
.ct-series-a .ct-line {
    stroke: blue;
}

.ct-series-a .ct-point {
    stroke: indigo;
}

.ct-label {
    font-family: Arial, Helvetica, sans-serif;
} */