body {
    background-color: #333333;
    color: #ffffff;
    padding: 0;
    margin: 0;
}

#dashboard {
    display: grid;
    background: royalblue;
    grid-template-columns: 1fr 1fr;
}

.box {
    border: 1px solid #aaa;
}


.logo img {
    max-width: 100%;
    height: auto;
}

.company


